/* @import './values.scss'; */
.noteList2 {
    /* position: absolute; */
    margin-left: 25%;
    /* // border: solid; */
    margin-right: 10% auto;
    display: flex;
    flex-wrap: wrap;
    columns: 4;
    /* // width: 200px;
    // column-gap: 5px; */
    /* flex-direction: row; */
}

.note {
    width: 200px;
    color: rgb(15, 15, 15);
    /* display: inline-block; */
    margin-left: 1px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 7px;
    font-size: 14px;
    border-style: solid;
    border-width: .7px;
    border-radius: 5%;
    padding: 5px;
    padding-left: 10px;
    background-color: transparent;
}

.note:hover {
    width: 200px;
    margin-left: 1px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-style: solid;
    margin-top: 7px;
    padding: 5px;
    padding-left: 10px;
    color: black;
    border: none;
    box-shadow: 1px 1px 5px 0.5px rgba(71, 69, 69, 0.733);
}


/* .icons {
    margin-left: 2px;
} */

.iconsCard-get {
    margin-left: -10px;
    margin-right: 20px;
    padding-left: 1px;
    font-size: medium;
    margin-bottom: 0px;
    border: none;
    background: none;
    color: rgb(87, 85, 85);
}