.root {
    display: flex;
}

.btn_drawer {
    margin: 8px 0 8px 0;
}

.btn_drawer:hover {
    background-color: rgb(236, 236, 231);
    border-top-right-radius: 70px;
    border-bottom-right-radius: 65px;
}

.search_box {
    margin-right: 150px;
    height: 50px;
    width: 60%;
    display: flex;
    align-items: center;
    background-color: rgb(238, 238, 238);
    border-radius: 8px;
}

.searchIcon {
    margin-left: 4%;
    opacity: .1;
}


.topBar {
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

.headerIcon {
    width: 45px;
}

.startOptions {
    display: flex;
    align-items: center;
}

.buttonContainer {
    display: flex;
}

.leftAppBar {
    width: 70%;
    display: flex;
    justify-self: start;
    justify-content: space-between;
}

.drawer_container {
    margin-top: 70px;
}

.avtar_btn {
    width: 10px;
    height: 10px;
}

.avtar_btn_div {
    margin-left: 30%;
    margin-top: 10px;
}

/* .background_img {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSIjMDAwIj4KICA8cGF0aCBkPSJNOSAyMWMwIC41NS40NSAxIDEgMWg0Yy41NSAwIDEtLjQ1IDEtMXYtMUg5djF6bTMtMTlDOC4xNCAyIDUgNS4xNCA1IDljMCAyLjM4IDEuMTkgNC40NyAzIDUuNzRWMTdjMCAuNTUuNDUgMSAxIDFoNmMuNTUgMCAxLS40NSAxLTF2LTIuMjZjMS44MS0xLjI3IDMtMy4zNiAzLTUuNzQgMC0zLjg2LTMuMTQtNy03LTd6bTIuODUgMTEuMWwtLjg1LjZWMTZoLTR2LTIuM2wtLjg1LS42QTQuOTk3IDQuOTk3IDAgMCAxIDcgOWMwLTIuNzYgMi4yNC01IDUtNXM1IDIuMjQgNSA1YzAgMS42My0uOCAzLjE2LTIuMTUgNC4xeiIvPgo8L3N2Zz4K);
    -webkit-background-size: 120px 120px;
    background-size: 120px 120px;
    height: 120px;
    margin-top: 300px;
   align-items: center;
    opacity: .1;
    width: 120px;
} */
.img{
    margin-right: 40px;
}
@media only screen and (max-width: 600px) {
    .headerIcon {
        width: 30px;
    }

    .search_box {
        margin: 5px 5px 5px 25px;
        height: 50px;
        width: 140px;
        display: flex;
        align-items: center;
        background-color: rgb(238, 238, 238);
        border-radius: 8px;
    }
    .img{
        margin-top: 10px;
    }
    .avtar_btn_div {
        margin-left: 90px;
    }
}